<% include ../partials/header %>

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Crear Reparacion</h4>
            <p class="text-center">Ingrese informacion</p>
            <form action="/reparaciones/nueva" method="POST">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                    </div>
                    <input name="fecha" class="form-control" placeholder="Full name" type="date">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fab fa-black-tie"></i> </span>
                    </div>
                    <input name="empresa" class="form-control" placeholder="Empresa" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="marca" class="form-control" placeholder="Marca del Equipo" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="referencia" class="form-control" placeholder="Referencia del Equipo" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-clipboard-list"></i> </span>
                    </div>
                    <textarea name="descripcion" class="form-control" placeholder="Descripcion del Problema"></textarea>
                </div> <!-- form-group// -->
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Guardar </button>
                </div> <!-- form-group// -->
                <p class="text-center">Nueva empresa <a href="/register">Registrar</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->
</div>




<% include ../partials/footer %>