<% include partials/header %>



    <form method="post" action="">
        <div id="newlink">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="item[0]" placeholder="repuesto">
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" name="item[1]" placeholder="cantidad">
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" name="item[2]" placeholder="precio">
                </div>
                <div class="form-group col-md-2">
                    <a class = "btn btn-default btn-block btn-dark" href="javascript:new_link()">Nuevo</a>
                </div>
            </div>
        </div>
        
        <p>
             <br>
             <input type="submit" name="submit1">
             <input type="reset" name="reset1">
        </p>
    </form>



<script>
        /*
        This script is identical to the above JavaScript function.
        */
        var ct = 1;
        function new_link()
        {
            ct++;
            var div1 = document.createElement('div');
            div1.className = "form-row col-md-12"
            div1.id = ct;
            //Creo el div de nombre
            var divNombre = document.createElement('div');
            divNombre.className = "form-group col-md-4"
            inputNombre = document.createElement("INPUT");
            inputNombre.setAttribute("type", "text")
            inputNombre.setAttribute("name", "hello")
            inputNombre.setAttribute("class", "form-control")
            divNombre.appendChild(inputNombre)
            
            //Creo el div de cantidad
            var divCant = document.createElement('div');
            divCant.className = "form-group col-md-2"
            var inputCant = document.createElement("INPUT");
            inputCant.setAttribute("type", "text")
            inputCant.setAttribute("name", "hello2")
            inputCant.setAttribute("class", "form-control")
            divCant.appendChild(inputCant)
            //Creo el div de precio
            var divPrec = document.createElement('div');
            divPrec.className = "form-group col-md-2"
            var inputPrec = document.createElement("INPUT");
            inputPrec.setAttribute("type", "text")
            inputPrec.setAttribute("name", "hello2")
            inputPrec.setAttribute("class", "form-control")
            divPrec.appendChild(inputPrec)
            //Creo el div del link para eliminar
            var divLink = document.createElement('div');
            divLink.className = "form-group col-md-2"
            newlink = document.createElement('a');
            newlink.setAttribute("href", "javascript:delIt("+ ct +")")
            newlink.setAttribute("class","btn btn-default btn-block btn-dark")
            newlink.innerHTML = "Eliminar"
            divLink.appendChild(newlink)
            //Creo el div ppal
            div1.appendChild(divNombre)
            div1.appendChild(divCant)
            div1.appendChild(divPrec)
            div1.appendChild(divLink)

            
         
            // link to delete extended form elements
            document.getElementById('newlink').appendChild(div1);
        }
        // function to delete the newly added set of elements
        function delIt(eleId)
        {
            d = document;
            var ele = d.getElementById(eleId);
            var parentEle = d.getElementById('newlink');
            parentEle.removeChild(ele);
        }
        </script>

<% include partials/footer %>