<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>Reparaciones Almacen Bombas</h1>
            </div>   
        </div>
        <div class="row justify-content-md-center">
            <div  class = "col-md-auto">
                <a class="btn btn-primary btn-lg" href="reparaciones">Reparaciones</a>
            </div>
            <div  class = "col-md-auto">
                <a class="btn btn-primary btn-lg" href="lista">Lista de Precio</a>
            </div>
        </div> 
    </header>
    
</div>


<% include partials/footer %>

