<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <h1>Reparaciones Almacen Bombas</h1>
        <div>
            <p>
                <a class="btn btn-primary btn-lg " href="reparaciones">Reparaciones</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="nueva">Crear</a>
            </p>
        </div>
        
    </header>
    
    
    

</div>


<% include partials/footer %>

