<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="column justify-content-center">
                <h1  class = "float-md-right">Reparaciones Almacen Bombas</h1>
                <div  class = "pull-middle">
                    <p>
                        <a class="btn btn-primary btn-lg" href="reparaciones">Reparaciones</a>
                        <a class="btn btn-primary btn-lg" href="nueva">Crear</a>
                    </p>
                </div>
        </div>
        
        
    </header>
    
</div>


<% include partials/footer %>

