<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Marcas</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h3>GOULDS</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="http://unitedstates.xylemappliedwater.com/files/2012/07/NPE-DUO_wBIABadge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NPE</h5>
                    <p class="card-text">Bomba Goulds NPE</p>
                    <a href="#" class="btn btn-primary">Mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="http://unitedstates.xylemappliedwater.com/files/2012/07/NPO_wBIABadge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NPE</h5>
                    <p class="card-text">Bomba Goulds NPE</p>
                    <a href="#" class="btn btn-primary">Mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="http://unitedstates.xylemappliedwater.com/files/2012/07/SSH_wBIABadge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NPE</h5>
                    <p class="card-text">Bomba Goulds NPE</p>
                    <a href="#" class="btn btn-primary">Mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="http://unitedstates.xylemappliedwater.com/files/2012/07/SSH_wBIABadge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NPE</h5>
                    <p class="card-text">Bomba Goulds NPE</p>
                    <a href="#" class="btn btn-primary">Mas</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h3>HCP</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://img.mweb.com.tw/thumb/484/1000x1000/01%25E7%2594%25A2%25E5%2593%2581%25E4%25BB%258B%25E7%25B4%25B9/A-AN/an20190823.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NPE</h5>
                    <p class="card-text">Bomba Goulds NPE</p>
                    <a href="#" class="btn btn-primary">Mas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://img.mweb.com.tw/thumb/484/1000x1000/01%25E7%2594%25A2%25E5%2593%2581%25E4%25BB%258B%25E7%25B4%25B9/F-FN/fn20190823.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NPE</h5>
                    <p class="card-text">Bomba Goulds NPE</p>
                    <a href="#" class="btn btn-primary">Mas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://img.mweb.com.tw/thumb/484/1000x1000/01%25E7%2594%25A2%25E5%2593%2581%25E4%25BB%258B%25E7%25B4%25B9/GF/gf20190823.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NPE</h5>
                    <p class="card-text">Bomba Goulds NPE</p>
                    <a href="#" class="btn btn-primary">Mas</a>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer %>