<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Marcas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>GOULDS</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            d
        </div>
        <div class="col">
            s
        </div>
        <div class="col">
            f
        </div>
        <div class="col">
            d
        </div>
        <div class="col">
            a
        </div>

    </div>
</div>

<% include ../partials/footer %>